{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
    "indentation": "tab",
    "block-no-empty": null,
    "at-rule-no-unknown": null,
    "color-hex-case": "lower",
    "function-name-case": null,
    "declaration-colon-newline-after": "always-multi-line",
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-class-no-unknown": null,
    "value-no-vendor-prefix": null,
    "value-keyword-case": null,
    "property-no-vendor-prefix": null,
    "no-descending-specificity": null,
    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["after-comment", "first-nested"]
      }
    ]
  },
  "ignoreFiles": ["./public/**/*.css"]
}